* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #161313;
  display: flex;
  flex-direction: column; 
  align-items: center;
  min-height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 20px; 
  width: 100
}

.logo-container img {
  width: 150px;
  height: auto;
  margin-right: 60px;
}

form {
  display: flex;
  align-items: center;
  gap: 10px;
}

#myCheckboxContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 45px;
  margin-bottom: 50px;
  margin-right:50px;
}

label {
  color: white; 
  font-size: 16px;
}

input[type="text"] {
  padding: 12px;
  border: 1px solid lightgray;
  border-radius: 999px;
  font-size: 20px;
  width: 75vw;
  margin: 0 auto;
  max-width: 560px;
  flex: 1;
  margin-left: 10px;
  background: transparent;
  outline: none;
  color: white !important; 
}

button {
  padding: 12px 20px;
  background-color: #161313;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="checkbox"] {
  margin-right: 5px;
}

button:hover {
  background-color: #bf2014;
  text-transform: capitalize;
}

.animate-charcter {
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #d2bc13 34%,
    #b19e0e 29%,
    #b80b1f 67%,
    #710404 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
  font-size: 75px;
  margin-top: 20px;
  margin-right: 55px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
